@page "/greeting"
<h3>Hello Blazor server demo</h3>
@code {
    private string title = "Hi Blazor server";
    private string name ;
    private string address ;
    private string greeting ;
    private void welcome()
    {
        if(!string.IsNullOrEmpty(name)&& !string.IsNullOrEmpty(address))
        {
            greeting = $"Welcome {name} from {address} go to blazor app";
        }
    }
}
<div class="form-group">
    <input type="text" placeholder="your name" @bind="name" class="form-control" />
</div>
<div class="form-group">
    <input type="text" placeholder="your address" @bind="address" class="form-control" />
</div>
<div class="form-group">
    <button @onclick="welcome"  class="btn btn-primary" >Welcome</button>
</div>
<h3>@greeting</h3>